.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn-primary {
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-content {
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banner-greetings {
    font-size: 48px;
    font-weight: 700;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.header-text {
    color: #131318;
    font-size: 2.2rem;
    font-style: normal;
    text-align: center;
    font-weight: 800;
}

/* .whyDev{
     
  height: 1235px;
  } */

.text {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.service-text p {
    padding: 10px 350px;
}

.service-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.group-1 {
    display: flex;
    padding: 20px;
    gap: 100px;
    margin: 10px;

}

.group-header {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.group-text {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}


.group-button {
    padding: 15px;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Support style starts */
.support {
    width: 1140px;
    height: 313px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.support-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.support-text>h1 {

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}

.support-text>p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 15px;
    width: 548px;
}

button {
    padding: 15px;
    margin-left: 5px;
}


/* Support style ends */

.footer {
    height: 100px;
    padding: 32px 50px 32px 50px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    height: 50px;
    background-color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

footer a {
    margin: 0 10px;
}

.target {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin: 80px 0;
}

.target-1 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.target-2 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.target-3 {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}